	#git ignoring matlab files
    
    machine-learning-ex1/ex1/.ipynb_checkpoints/
	machine-learning-ex1/ex1/computeCost.m
	machine-learning-ex1/ex1/computeCostMulti.m
	machine-learning-ex1/ex1/ex1.m
	machine-learning-ex1/ex1/ex1_multi.m
	machine-learning-ex1/ex1/featureNormalize.m
	machine-learning-ex1/ex1/gradientDescent.m
	machine-learning-ex1/ex1/gradientDescentMulti.m
	machine-learning-ex1/ex1/lib/
	machine-learning-ex1/ex1/normalEqn.m
	machine-learning-ex1/ex1/notebook.tex
	machine-learning-ex1/ex1/output_4_1.png
	machine-learning-ex1/ex1/plotData.m
	machine-learning-ex1/ex1/submit.m
	machine-learning-ex1/ex1/warmUpExercise.m
	machine-learning-ex2/ex2/.ipynb_checkpoints/
	machine-learning-ex2/ex2/costFunction.m
	machine-learning-ex2/ex2/costFunctionReg.m
	machine-learning-ex2/ex2/ex2.m
	machine-learning-ex2/ex2/ex2_reg.m
	machine-learning-ex2/ex2/lib/
	machine-learning-ex2/ex2/mapFeature.m
	machine-learning-ex2/ex2/plotData.m
	machine-learning-ex2/ex2/plotDecisionBoundary.m
	machine-learning-ex2/ex2/predict.m
	machine-learning-ex2/ex2/sigmoid.m
	machine-learning-ex2/ex2/submit.m
	machine-learning-ex3/ex3/.ipynb_checkpoints/
	machine-learning-ex3/ex3/displayData.m
	machine-learning-ex3/ex3/ex3.m
	machine-learning-ex3/ex3/ex3_nn.m
	machine-learning-ex3/ex3/fmincg.m
	machine-learning-ex3/ex3/lib/
	machine-learning-ex3/ex3/lrCostFunction.m
	machine-learning-ex3/ex3/oneVsAll.m
	machine-learning-ex3/ex3/predict.m
	machine-learning-ex3/ex3/predictOneVsAll.m
	machine-learning-ex3/ex3/sigmoid.m
	machine-learning-ex3/ex3/submit.m
	machine-learning-ex4/ex4/.ipynb_checkpoints/
	machine-learning-ex4/ex4/checkNNGradients.m
	machine-learning-ex4/ex4/computeNumericalGradient.m
	machine-learning-ex4/ex4/debugInitializeWeights.m
	machine-learning-ex4/ex4/displayData.m
	machine-learning-ex4/ex4/ex4.m
	machine-learning-ex4/ex4/fmincg.m
	machine-learning-ex4/ex4/lib/
	machine-learning-ex4/ex4/nnCostFunction.m
	machine-learning-ex4/ex4/predict.m
	machine-learning-ex4/ex4/sigmoid.m
	machine-learning-ex4/ex4/sigmoidGradient.m
	machine-learning-ex4/ex4/submit.m
	machine-learning-ex5/ex5/.ipynb_checkpoints/
	machine-learning-ex5/ex5/ex5.m
	machine-learning-ex5/ex5/featureNormalize.m
	machine-learning-ex5/ex5/fmincg.m
	machine-learning-ex5/ex5/learningCurve.m
	machine-learning-ex5/ex5/lib/
	machine-learning-ex5/ex5/linearRegCostFunction.m
	machine-learning-ex5/ex5/plotFit.m
	machine-learning-ex5/ex5/polyFeatures.m
	machine-learning-ex5/ex5/submit.m
	machine-learning-ex5/ex5/trainLinearReg.m
	machine-learning-ex5/ex5/validationCurve.m
